<div class="background">
  <div class="containerSneakers">
    <div id="containerButton">
      <button class="btn1" [routerLink]="['/sneakers', id, 'update']">Update Sneakers</button>
      <button class="btn2" (click)="deleteSneakers()" [routerLink]="['/sneakers/:id/delete']">Delete Sneakers</button>
    </div>
    <h1>SNEAKERS</h1>
    <div id="containerButton">
    </div>
    <div class="containerSneakersDetails">
      <div class="containerImg">
        <!-- <img [src]="sneakersById?.pictures" [alt]="sneakersById?.brand"> -->
      </div>
      <div class="containerDetails">
        <h2>Détails de la Sneakers</h2>
        <h3>Marque : {{sneakersById?.brand | titlecase}}</h3>
        <h3>Model : {{sneakersById?.model | titlecase}}</h3>
        <p>Postée {{ sneakersById?.createdDate | date: 'le d MMMM yyyy, à HH:mm' }}</p>
        <p>Taille : {{sneakersById?.size}}</p>
        <p>L'état global de ma sneakers : {{sneakersById?.stateOfWear}}</p>
        <p *ngIf="sneakersById?.mainColor">Ma couleur : {{sneakersById?.mainColor}}</p> 
      </div>
    </div>
  </div>
</div>

