<div id="containerAll">
    <div id="container1">
    <div class="backGround">
        <div class="containerLiens">
            <div class="trait_dessus"><hr></div>
            <p id="lienProfil">{{profil}}</p>
            <div class="trait_dessus"><hr></div>
            <p id="lienContact">{{contact}}</p>
            <div class="trait_dessus"><hr></div>
            <p id="lienFaqs">{{faqs}}</p>
            <div class="trait_dessus"><hr></div>
            <p id="lienLegal">{{legal}}</p>
            <div class="trait_dessus"><hr></div>
        </div>
        <div id="logo_icons">
            <div id="logoFooter">
                <img id="logo" src="assets/SNKC-logo.jpg" alt="Logo SNKC"/>
            </div>
            <div id="icon">
                <img id="iconFacebook" src="assets/icon-facebook.png" alt="icône Facebook"/>
                <img id="iconInstagram" src="assets/icon-instagram.png" alt="icône Instagram"/>
                <img id="iconPinterest" src="assets/icon-pinterest.png" alt="icône Pinterest"/>
            </div>
        </div>  
    </div>
</div>
    <div id="container2">
        <p id="cSNKC">© SNK Collector 2022</p>
    </div>
</div>
