    #containerAll {
        background-color: #00adb5;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #container2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #container1 {
        width: 100%;
        
    }
    #cSNKC {
        text-align: center;
        font-size: 24px;
        color: white;
        order: 4;
        width: 100%;
        padding-bottom: 10%;
    }
    
    .backGround {
        background-color: #00adb5;
        padding: 10%;
        display: flex;
        flex-direction: column;
    }
    .containerLiens {
        height: 40%;
        font-size: 24px;
        text-align:center;
        color: white;
        width: 85%;
        display: flex;
        flex-direction: column;
        margin-left: 25PX;
        margin-right: 25PX;
        margin-top: 20px;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:link {
        color: white;
    }
    
    a:visited {
        color: white;
    }
    
    a:focus {
        border-radius: 2rem;
        background: #74c2cc;
    }
    
    a:hover {
        border-radius: 2rem;
        background: #74c2cc;
    }
    
    a:active {
        border-radius: 2rem;
        background: #41a1ae;
        color: black;
    }
    
    #trait_dessus {
        border-top: 5px white solid;
        width : 100px;
    }
    
    #lienProfil {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #lienContact {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #lienFaqs {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #lienLegal {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #logoFooter {
        margin-top: 150px;
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
    }
    
    #logo {
        border-radius: 30px;
        max-height: 150px;
        max-width: 350px;
        transform: rotate(15deg);
    }
    
    #icon {
        position: relative;
        margin-top: 50px;
        height: 10rem;
        display: flex;
        width: 100%;
        display: flex;
        justify-content: center;
        transform: rotate(15deg);
    }
    
    #iconFacebook {
        margin-left: 40px;
        margin-right: 40px;
        max-height: 33%;
        max-width: 33%;
        display: flex;
    }
    
    #iconInstagram {
        margin-left: 40px;
        margin-right: 40px;
        max-height: 33%;
        max-width: 33%;
        display: flex;
    }
    
    #iconPinterest {
        margin-left: 40px;
        margin-right: 40px;
        max-height: 33%;
        max-width: 33%;
        display: flex;
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .backGround {
            padding: 5%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
        
        .containerLiens {
            height: 40%;
            font-size: 24px;
            text-align:center;
            color: white;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10%;
            margin-bottom: 10%;
            order: 3;
        }
        
        #lienContact {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        #logoFooter {
            margin-left: 25PX;
            margin-right: 25PX;
            margin-top: 25%;
            margin-bottom: 10%;
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            order: 1;
        }
        
        #logo {
            border-radius: 30px;
            max-height: 150px;
            max-width: 400px;
            transform: rotate(15deg);
        }
    }
    
    @media screen and (min-width: 993px) {
        .backGround {
            padding: 5%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
        
        .containerLiens {
            height: 40%;
            font-size: 36px;
            text-align:center;
            color: white;
            width: 40%;
            height: 50%;
            max-width: 800rem;
            max-height: 300rem;
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10%;
            margin-bottom: 10%;
            order: 3;
        }
        
        #logoFooter {
            margin-left: 25PX;
            margin-right: 25PX;
            margin-top: 30%;
            margin-bottom: 10%;
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            order: 1;
        }
        
        #logo {
            border-radius: 30px;
            max-height: 200px;
            max-width: 900px;
            transform: rotate(15deg);
        }
        
        #icon {
            order: 2;
            position: relative;
            margin-left: 25PX;
            margin-right: 25PX;
            margin-top: 10%;
            margin-bottom: 10%;
            height: 10rem;
            display: flex;
            width: 90%;
            display: flex;
            justify-content: center;
            transform: rotate(15deg);
        }
    }
