<div class="container">
    <div class="card">
        <div class="card-image">
            <img src="https://cdn.shopify.com/s/files/1/0562/9240/9498/products/airjordan4_offwhite_sailmuslim-LEFTSIDE_64437e91-b898-4393-9049-0cb9860ea3cc.jpg?v=1633386875&width=533"
                alt="sneakers" />
        </div>
        <div class="card-body">
            <div class="card-date">
                <time>20 Novembre 1992</time>
            </div>
            <div class="card-title">
                <h3>Lorem Ipsum</h3>
            </div>
            <div class="card-excerpt">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus autem consectetur
                    voluptate facere at, omnis ab optio placeat officiis! Animi modi harum enim quia veniam consectetur
                    unde
                    autem inventore.</p>
            </div>
        </div>
    </div>
</div>