<div class="background">
  <div class="containerForm">
    <div class="form-card">
      <h1>AJOUTER SNEAKERS</h1>
      <form [formGroup]="createdSneakersForm">
        <div class="colorForm">
          <!-- <div class="form-group" formArrayName="pictures" *ngFor="let picture of pictures.controls; let i = index">
            <label for="pictures">URL de l'image</label>
            <input id="pictures" type="text" formControlName="{{i}}">
          </div> -->
          <div class="form-group">
            <label for="brand">Marque</label>
            <input id="brand" type="text" formControlName="brand">
          </div>
          <div class="form-group">
            <label for="model">Modèle</label>
            <input id="model" type="text" formControlName="model">
          </div>
          <div class="form-group">
            <label for="size">Taille</label>
            <input id="size" type="text" formControlName="size">
          </div>
          <div class="form-group">
            <label for="stateOfWear">Etat sneakers</label>
            <select id="stateOfWear" formControlName="stateOfWear">
            <option id="optionForm" *ngFor="let state of states | keyvalue" [ngValue]="state.value">{{state.key}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="mainColor">Couleur</label>
            <select id="mainColor" formControlName="mainColor">
            <option id="optionForm" *ngFor="let color of colors | keyvalue" [ngValue]="color.value">{{color.key}}</option>
            </select>
          </div>
          <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()" [disabled]="createdSneakersForm.invalid">Enregistrer votre Sneakers </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="containerPreview">
    <div class="sneakers-card" *ngIf="createdPreview$ | async as sneakers">
      <h1>PREVIEW SNEAKERS</h1>
      <!-- <img [src]="sneakers.pictures" [alt]="sneakers.brand"> -->
      <h2>Détails de la Sneakers</h2>
      <h2>Marque : {{createdSneakersForm.controls['brand'].value | uppercase }}</h2>
      <h3>Model : {{createdSneakersForm.controls['model'].value | lowercase}}</h3>
      <p>Postée {{ sneakers.createdDate | date: 'le d MMMM yyyy, à HH:mm' }}</p>
      <p>Taille : {{createdSneakersForm.controls['size'].value}}</p>
      <p>L'état global de ma sneakers : {{stateOfWearToString(createdSneakersForm.controls['stateOfWear'].value)}}</p>
      <p *ngIf="sneakers.mainColor">Ma couleur : {{colorsToString(createdSneakersForm.controls['mainColor'].value)}}</p>
    </div>
  </div>
</div>

