.container {
    margin-left: 13%;
    margin-right: 13%;
}

h1 {
    margin: 1rem;
    text-align: center;
}

h5 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1.5rem;
    text-align: justify;
    
}