<div class="container">
    <h1>Mentions légales</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Arcu risus quis varius quam quisque id diam vel. Leo vel orci porta non pulvinar neque laoreet. Donec enim
    diam vulputate ut pharetra sit. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Fusce id velit ut
    tortor pretium viverra suspendisse potenti nullam. Sit amet consectetur adipiscing elit pellentesque. Duis ultricies
    lacus sed turpis. Sed id semper risus in hendrerit gravida rutrum quisque non. Pretium viverra suspendisse potenti
    nullam ac tortor vitae. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Ligula ullamcorper
    malesuada proin libero nunc consequat interdum. Sollicitudin nibh sit amet commodo nulla facilisi nullam. Neque
    egestas congue quisque egestas diam in arcu cursus euismod. Lacus suspendisse faucibus interdum posuere lorem.</p>

    <h5>Rhoncus mattis rhoncus urna neque viverra justo.</h5> 
    <p>A diam sollicitudin tempor id eu nisl nunc. Sapien nec sagittis
    aliquam malesuada bibendum arcu vitae elementum. Lectus mauris ultrices eros in cursus turpis. Sodales neque sodales
    ut etiam sit amet nisl. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Id velit
    ut tortor pretium viverra suspendisse. Nibh venenatis cras sed felis eget velit aliquet sagittis id. Ac tortor vitae
    purus faucibus ornare suspendisse sed nisi lacus. Ut venenatis tellus in metus vulputate eu scelerisque. Dui ut
    ornare lectus sit amet. Risus commodo viverra maecenas accumsan lacus vel facilisis. Pulvinar mattis nunc sed
    blandit libero volutpat sed. Tempor orci dapibus ultrices in iaculis nunc sed augue. Amet risus nullam eget felis
    eget nunc lobortis mattis. Elit eget gravida cum sociis natoque penatibus et magnis dis. Feugiat in ante metus
    dictum at tempor commodo ullamcorper a.</p>

    <h5>In nulla posuere sollicitudin aliquam ultrices sagittis orci a.</h5> 
    <p>Risus viverra adipiscing at in tellus integer
    feugiat scelerisque. Vehicula ipsum a arcu cursus vitae congue mauris. Praesent tristique magna sit amet purus
    gravida quis. Bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et leo duis ut diam. In aliquam sem
    fringilla ut morbi tincidunt. Sem et tortor consequat id porta nibh venenatis cras sed. Accumsan sit amet nulla
    facilisi morbi tempus iaculis. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Ut eu sem
    integer vitae justo eget. Et leo duis ut diam quam nulla porttitor massa. Ac odio tempor orci dapibus. Lacus
    vestibulum sed arcu non odio. Lorem ipsum dolor sit amet consectetur adipiscing. Dignissim sodales ut eu sem.</p>

    <h5>Nam at lectus urna duis convallis convallis. Feugiat in fermentum posuere urna.</h5> 
    <p>Tempor nec feugiat nisl pretium
    fusce id velit. Nunc sed velit dignissim sodales ut eu sem. Curabitur vitae nunc sed velit dignissim sodales ut.
    Neque viverra justo nec ultrices dui sapien eget. Purus non enim praesent elementum. In ornare quam viverra orci
    sagittis eu volutpat. Pellentesque habitant morbi tristique senectus. Tellus orci ac auctor augue mauris augue neque
    gravida. Felis donec et odio pellentesque diam volutpat. Elit at imperdiet dui accumsan sit amet. Ornare arcu odio
    ut sem nulla pharetra. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Varius morbi enim nunc
    faucibus a.</p>

    <h5>Amet luctus venenatis lectus magna fringilla urna.</h5> 
    <p>Consectetur purus ut faucibus pulvinar elementum integer enim
    neque volutpat. Aliquam sem fringilla ut morbi tincidunt augue interdum velit. Gravida neque convallis a cras semper
    auctor neque. Diam phasellus vestibulum lorem sed risus ultricies tristique. Vitae justo eget magna fermentum
    iaculis eu non. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Odio
    facilisis mauris sit amet massa vitae tortor condimentum. Pellentesque pulvinar pellentesque habitant morbi
    tristique senectus et netus et. Mollis aliquam ut porttitor leo a. Urna cursus eget nunc scelerisque viverra mauris.
    Elementum sagittis vitae et leo duis ut diam. Ut tortor pretium viverra suspendisse potenti. Amet volutpat consequat
    mauris nunc congue. Amet nisl purus in mollis nunc sed id semper risus. Habitant morbi tristique senectus et netus.
    Arcu felis bibendum ut tristique et egestas. Est placerat in egestas erat imperdiet sed. Justo nec ultrices dui
    sapien eget mi proin.</p>

</div>